body{
	background-color: #5B5353;
}

#social-container{
	background-color: #2F2F2F;
	padding-top: 5px;
	padding-bottom: 5px;
}

#logo-container{
	padding-top: 15px;
	padding-bottom: 20px;
}

#menu-container{
	background-color: #2F2F2E;
}

#menu-container li a{
	color: white;
}

#menu-container li a:hover{
	color: #42AEF9;
}

#submenu-container li a{
	background-color: #2F2F2E;
	color: white;
}

#submenu-container li a:hover{
	color: #42AEF9;
}