body{
	background-color: #5B5353;
}

#social-container{
	background-color: #2F2F2F;
	padding-top: 5px;
	padding-bottom: 5px;
}

#logo-container{
	padding-top: 15px;
	padding-bottom: 20px;
}

#menu-container{
	background-color: #2F2F2E;
}

#menu-container li a{
	color: white;
}

#menu-container li a:hover{
	color: #42AEF9;
}

#submenu-container li a{
	background-color: #2F2F2E;
	color: white;
}

#submenu-container li a:hover{
	color: #42AEF9;
}


#tickets-action .callout{
	padding-top: 25px;
	background-color: #8D8B8B;
	color: white;		
}

#tickets-action .callout button{
	color: white;		
	border: 1px solid white;
}

#tickets-action .callout button:hover{
	color: black;		
	border: 1px solid black;
}

#lineup-container{
	padding: 1em 0;
	border: 0;
}

#lineup-container,
#lineup-container .tabs,
#lineup-container .tabs-panel,
#lineup-container .tabs-title{
	background-color: #2F2F2E; 
	text-transform: uppercase;
	color: white;
	border:0;
}

.tabs-content{
	border: 0;
}

#lineup-container .tabs .tabs-title a{	
	font-size: 18px;
	color: #42AEF9;
}

#lineup-container .tabs .tabs-title a:hover{
	color: white;
	background-color: #979797;
}

.tabs-title{
	display: inline-block;
	float: none;
}

#lineup-container .orbit-container{
	margin-bottom: 1em;
}

#lineup-container .column:nth-child(odd) figcaption{
	text-align: right;
}